.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 300px;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
}

.cardControles {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}