.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.cardContainer {
  display: flex;
  flex-direction: column;
}

.cardControles {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

.ItemListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.NavBarLink {
  text-decoration: none;
  color: white;
}

.noMostrar {
  display: none;
}

.mostrar {
  display: block;
}

.productContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 3rem;
}